<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">

  <div>
    <img src="assets/img/screenplay.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>

  <ion-item color="none">
      <h2>Your Information</h2>


    <h2>
      {{customer?.data.username}}
    </h2>
    <h3>
      Your Customer ID: {{customerid}}
    </h3>
    <h3>
      Your Email: {{customer?.data.email}}
    </h3>
  </ion-item>
  
  <ion-item>

      <h2>Marketplace Information</h2>

      <br/>
      <span> Your Marketplace Points: {{marketpoints}}</span>       
      
      <br/>
        <span *ngIf="marketplaceInfo === false"> There are no Special Discount available</span>
        <span *ngIf="marketplaceInfo === true"> Special Discount available for {{marketplacediscount}}</span>

    </ion-item>
    <br/>

  <ion-item color="none">
      Most Recent Certificates:
  </ion-item>


  <ion-list>
    <span *ngIf="certs === undefined"> There are no Certificates available</span>

    <ion-spinner *ngIf="certs != undefined && certs.length == 0"> </ion-spinner>

    <ion-card color="none" *ngFor="let option of certs">
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="option.merchantlogo" style="height: 20%;">
        </ion-thumbnail>
      </ion-item>
      <h2>
        Merchant: {{option.merchantname}}
      </h2>
      <p>Value: ${{addPoint(option.value)}}</p>
    </ion-card>
  </ion-list>

  <ion-item color="none" id="home-list-item20">
    Most Recent Transactions:
  </ion-item>
  <ion-list>
    <span *ngIf="transactions === undefined"> There are no transactions available</span>

    <ion-spinner *ngIf="transactions != undefined && transactions.length == 0"> </ion-spinner>
    <ion-card *ngFor="let option of transactions">

      <ion-item>
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Merchant Name = {{option.device_id?.name}}
          </p>
          <p style="margin-top:0px;color:#000000;">
            Merchant Address = {{option.device_id?.address}}
          </p>
          <p style="margin-top:0px;color:#000000;">
            Referencenumber = {{option.ref}}
          </p>
        </div>
      </ion-item>
      <ion-item color="balanced">
        ${{addPoint(option.value)}}
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>