page-menu {
    .toolbar-background {
        background-color:#004858;
    }
    .toolbar-title{
        color: white;
    }
    .bar-button{
        color: white;
    }
    .ion-icon {
        font-size:55px !important;
    }

}
